.contact {
  padding: var(--offset-sect) 0;
  background: linear-gradient(
    180deg,
    rgba(109, 49, 208, 0.1) 0%,
    rgba(109, 49, 208, 0.21) 28.65%,
    rgba(109, 49, 208, 0.47) 53.12%,
    #6d31d0 100%
  );
  &__content {
  }

  &__title {
    max-width: 380px;
    margin: 0 auto;
    border-bottom: 4px solid var(--pam-color4);
    padding-bottom: 20px;
    margin-bottom: var(--offset-med);
    text-align: center;
    color: var(--pam-color5);
  }

  &__info {
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: var(--offset-med);
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #6d31d0 0%, #ab80ef 100%);
  }

  &__img {
    width: 28px;
    height: 28px;
  }

  &__tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--pam-color1);
  }

  &__form-wrap {
    padding: 34px 0;
    border-radius: 60px;

    background: rgba($color: #ffdb80, $alpha: 0.5);
  }

  &__form-title {
    text-align: center;
    margin-bottom: var(--offset-min-1);
  }
}

.form {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  &__input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 14px;
  }

  &__input,
  &__textarea {
    padding: 12px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(28, 37, 44, 0.08);
    background: var(--pam-color6);
    &::placeholder {
      color: rgba($color: #434364, $alpha: 0.5);
    }
  }

  &__textarea {
    min-height: 200px;
    width: 100%;
    resize: none;
    margin-bottom: var(--offset-min-1);
  }

  &__checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 34px;
    margin-bottom: 14px;
  }

  &__text {
    margin: 0;
    text-align: left;
  }
  &__btn {
    display: inline-block;
  }
  &__link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--pam-color1);
  }
}

.custom-checkbox {
  @include custom-checkbox;
  &__field {
  }

  &__content {
  }
}
