.moving {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 70px;
  padding-top: var(--offset-sect);
  text-align: center;
  padding-bottom: 60px;
  background-color: var(--pam-color6);
  @include tablet {
    grid-template-columns: 1fr;
    grid-template-rows: 290px 1fr 290px;
    padding: 0;
    gap: 40px;
  }
  &__left,
  &__right {
    width: 100%;
    height: 290px;
  }

  &__content {
    padding: 20px 0;
  }

  &__title {
    margin-bottom: 33px;

    color: var(--pam-color5);
  }

  &__text {
    max-width: 480px;
    margin: 0;
    margin-bottom: var(--offset-min);
  }

  &__btn {
    display: inline-block;
  }

  &__right {
    justify-self: end;
  }
}
