.moving {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 70px;
  padding-top: var(--offset-sect);
  text-align: center;
  padding-bottom: 60px;
  background-color: var(--pam-color6);
  &__left {
  }

  &__content {
    padding: 20px 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 600;
    font-size: 40px;
    line-height: 72%;
    text-transform: uppercase;

    color: var(--pam-color5);
  }

  &__text {
    max-width: 480px;
    margin: 0;
    margin-bottom: var(--offset-min);
  }

  &__btn {
  }

  &__right {
  }
}
