.partners {
  padding: var(--offset-sect) 0;
  background: var(--pam-color6);
  &__title {
    text-align: center;
    margin-bottom: var(--offset-med);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      gap: 60px 20px;
    }
    @include small-tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 20px;
    }
  }

  &__item {
    @include tablet {
      &:nth-child(5) {
        grid-column: 2/3;
      }
    }
    @include mobile {
      &:nth-child(5) {
        grid-column: initial;
      }
    }
  }

  &__link {
    filter: grayscale(0);
    transition: filter 0.3s ease-in-out;
    @include hover {
      filter: grayscale(1);
    }
  }

  &__img {
  }
}
.container {
}
.list-reset {
}
