<section class="about-info">
  <h2 class="visually-hidden">About us</h2>
  <div class="container">
    <div class="about-info__content">
      <p class="about-info__text">
        PAM Consulting is a team of dedicated professionals, located in Cyprus.
        Our services rely upon the idea that the sunny island of Cyprus can be the solution families and businesses are
        searching for.
      </p>
      <p class="about-info__text">
        We understand the challenges that come with moving from one location to another and the difficulties that may
        arise. For this reason, we aim to transform family and business relocation into a hassle-free experience for you
        and yours.
      </p>
    </div>
  </div>
</section>
