<section class="choice">

  <div class="container">
    <div class="choice__content">
      <div class="choice__info">
        <h2 class="choice__title heading-1">Why Choose Cyprus? </h2>
        <p class="choice__descr">
          When you’re searching for the ideal home you want everything to be perfect. This is why over the years more
          and more people from all around the world are choosing Cyprus as their ultimate destination. This smal
          Mediterranean mesmerizes millions of visitors every year.
        </p>
      </div>
      <ul class="choice__list list-reset">
        <li class="choice__item">
          <div class="choice__image choice__image--1"><img src="img/choice/choice-1.png" alt="choice icon"
              class="choice__img"></div>
          <h3 class="choice__item-title heading-3">Progressive tax system</h3>
          <p class="choice__text">
            Offering one of the most attractive tax regimes in Europe
          </p>
        </li>
        <li class="choice__item">
          <div class="choice__image choice__image--2"><img src="img/choice/choice-2.png" alt="choice icon"
              class="choice__img"></div>
          <h3 class="choice__item-title heading-3">Stunning weather and climate</h3>
          <p class="choice__text">
            Enjoy a high quality of life with over 324 days of sun annually
          </p>
        </li>
        <li class="choice__item">
          <div class="choice__image choice__image--3"><img src="img/choice/choice-3.png" alt="choice icon"
              class="choice__img"></div>
          <h3 class="choice__item-title heading-3">Blooming expat community</h3>
          <p class="choice__text">
            Become part of an increasingly diverse community
          </p>
        </li>
        <li class="choice__item">
          <div class="choice__image choice__image--4"><img src="img/choice/choice-4.png" alt="choice icon"
              class="choice__img"></div>
          <h3 class="choice__item-title heading-3">Family-oriented values</h3>
          <p class="choice__text">
            Excellent education standards and extremely low crime rates
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
