<section class="contact">

  <div class="container">
    <div class="contact__content">
      <h2 class="contact__title heading-1">Contact Us</h2>
      <div class="contact__info">
        <div class="contact__item">
          <div class="contact__image">
            <img src="img/contact/icon-1.png" alt="contact icon" class="contact__img">
          </div>
          <a href="#!" class="contact__tel">+357 9056759</a>
        </div>
        <div class="contact__item">
          <div class="contact__image">
            <img src="img/contact/icon-2.png" alt="contact icon" class="contact__img">
          </div>
          <a href="#!" class="contact__tel">contact@pamrelocation.com</a>
        </div>
      </div>
      <div class="contact__form-wrap">
        <h3 class="contact__form-title heading-1">send inquiry</h3>
        <form action="#" class="form">
          <div class="form__input-box">
            <input type="text" class="form__input input-reset" placeholder="Your Name" />
            <input type="email" class="form__input input-reset" placeholder="Email" />
          </div>
          <div class="form__input-box">
            <input type="text" class="form__input input-reset" placeholder="Subject" />
            <input type="tel" class="form__input input-reset" placeholder="Phone" />
          </div>
          <div class="form__input-box">
            <textarea class="form__textarea input-reset" placeholder="Your message"></textarea>
          </div>
          <div class="form__checkbox-wrap">
            <label class="custom-checkbox">
              <input type="checkbox" class="custom-checkbox__field">
              <span class="custom-checkbox__content"></span>
            </label>
            <p class="form__text">By clicking “Submit button” you accept our <a href="#!" class="form__link">Terms &
                Conditions</a> and have read our <a href="#!" class="form__link">Privacy Policy</a>
              and <a href="#!" class="form__link">Disclaimer</a></p>
          </div>
          <button type="submit" class="btn-reset btn-submit form__btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
