<section class="faq">
  <div class="container">
    <h2 class="faq__title heading-1">Frequently Asked Questions</h2>
    <div class="faq__content">
      <div class="swiper faq-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Business</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What is the cost of living in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Prices</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What are the best cities in Cyprus for expats?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Migration</span>

              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: How is the business environment in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Business</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What is the cost of living in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Prices</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What are the best cities in Cyprus for expats?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Migration</span>

              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: How is the business environment in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Business</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What is the cost of living in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Prices</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What are the best cities in Cyprus for expats?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Migration</span>

              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: How is the business environment in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Business</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What is the cost of living in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Prices</span>
              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: What are the best cities in Cyprus for expats?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="faq-slider__slide">
              <div class="faq-slider__image">
                <img src="img/faq/faq-1.jpg" alt="faq 1" class="faq-slider__img">
                <span class="faq-slider__badge">Migration</span>

              </div>
              <div class="faq-slider__info">
                <h3 class="faq-slider__title heading-3">Question: How is the business environment in Cyprus?</h3>
                <p class="faq-slider__text">Answer: Cyprus is considered to be one of the most business-oriented
                  countries of the EU, offering business entrepreneurs a variety of opportunities to expand their
                  corporate dreams and
                  ambitions.</p>
              </div>
            </div>
          </div>



        </div>
      </div>
      <div class="swiper-pagination faq-slider__pagination"></div>
    </div>
  </div>
</section>
