<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#!" class="header__logo">
        <img src="img/logo.png" alt="Ram logo" class="header__logo-img">
      </a>
      <nav class="nav" data-menu>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#!" class="nav__link">
              Home
            </a>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link">
              About us
            </a>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link nav__link--services">
              Services
            </a>
            <ul class="dropdown list-reset">
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">
                  Investments opportunities
                </a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">
                  Business relocation
                </a>
              </li>
              <li class="dropdown__item">
                <a href="#!" class="dropdown__link">
                  Family relocation
                </a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link">
              Invest in Cyprus
            </a>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link">
              Migration
            </a>
          </li>
          <li class="nav__item">
            <a href="#!" class="nav__link">
              Contact us
            </a>
          </li>
        </ul>
      </nav>
      <button class="header__btn btn-get btn-reset">
        Get in touch
      </button>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
