<section class="hero">
  <div class="hero__content">
    <div class="swiper hero-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero-slider__content" style="background-image:url(img/hero/slide-1.jpg)">
            <div class="container">
              <div class="hero-slider__info">
                <div class="hero-slider__box">
                  <ul class="hero-slider__list list-reset">
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">investments</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">business relocation</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">family relocation</a>
                    </li>
                  </ul>
                </div>
                <h1 class="hero__title heading-1">
                  Relocating to Cyprus
                  <span class="hero__title-sub">Seamless – Exceptional – Experience</span>
                </h1>
                <p class="hero-slider__text">
                  The captivating Mediterranean island of Cyprus has become a business haven with a flourishing expat
                  community. The strategic location that grants networking opportunities and the stability of being in
                  the
                  EU offers entrepreneurs the abilities they need
                  to thrive.
                </p>
                <button type="button" class="btn-reset btn-find hero__btn">Find Out More</button>
                <div class="hero__links">
                  <h4 class="hero__links-title">
                    Most popular cities
                  </h4>
                  <div class="swiper hero-mini">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide ">
                        <a href="#!" class="hero-mini__link">
                          <img class="hero-mini__img" src="img/hero/mini-1.jpg" alt="Nicosia photo">
                          <span class="hero-mini__text">Nicosia</span>
                        </a>
                      </div>
                      <div class="swiper-slide ">
                        <a href="#!" class="hero-mini__link">
                          <img class="hero-mini__img" src="img/hero/mini-2.jpg" alt="Limassol photo">
                          <span class="hero-mini__text">Limassol</span>
                        </a>
                      </div>
                      <div class="swiper-slide ">
                        <a href="#!" class="hero-mini__link">
                          <img class="hero-mini__img" src="img/hero/mini-3.jpg" alt="Paphos photo">
                          <span class="hero-mini__text">Paphos</span>
                        </a>
                      </div>
                      <div class="swiper-slide ">
                        <a href="#!" class="hero-mini__link">
                          <img class="hero-mini__img" src="img/hero/mini-4.jpg" alt="Larnaka photo">
                          <span class="hero-mini__text">Larnaka</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-slider__content" style="background-image:url(img/hero/slide-2.jpg)">
            <div class="container">
              <div class="hero-slider__info">
                <div class="hero-slider__box">
                  <ul class="hero-slider__list list-reset">
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">investments</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">business relocation</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">family relocation</a>
                    </li>
                  </ul>
                </div>
                <h2 class="hero__title hero__title--black heading-1">
                  Invest in property in Cyprus
                </h2>
                <p class="hero-slider__text hero-slider__text--black">
                  Real estate has become a flourishing type of investment
                  on the island, with an increasing number of people seeking to invest in residential and commercial
                  property projects in Cyprus. With a confident and stable economic outlook, it is a great time to
                  consider investing in Cyprus property.
                </p>
                <button type="button" class="btn-reset btn-find">Check more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-slider__content"
            style="background-image:linear-gradient(90deg, #b7d6ef 0%, rgba(183, 214, 239, 0.6) 52.6%, rgba(183, 214, 239, 0) 100%), url(img/hero/slide-3.jpg)">
            <div class="container">
              <div class="hero-slider__info">
                <div class="hero-slider__box">
                  <ul class="hero-slider__list list-reset">
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">investments</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">business relocation</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">family relocation</a>
                    </li>
                  </ul>
                </div>
                <h2 class="hero__title hero__title--black heading-1">
                  Family Relocation
                </h2>
                <p class="hero-slider__text hero-slider__text--black">
                  Globally known as one of the safest places to live in the world, Cyprus is the ideal location for
                  families. The healthy lifestyle and family-friendly communities have much to offer to every member of
                  your family.
                </p>
                <button type="button" class="btn-reset btn-find">Check more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-slider__content"
            style="background-image:linear-gradient(90deg, #746045 0%, rgba(116, 96, 69, 0) 100%),url(img/hero/slide-4.jpg)">
            <div class="container">
              <div class="hero-slider__info">
                <div class="hero-slider__box">
                  <ul class="hero-slider__list list-reset">
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">investments</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">business relocation</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">family relocation</a>
                    </li>
                  </ul>
                </div>
                <h2 class="hero__title heading-1">
                  Business Relocation
                </h2>
                <p class="hero-slider__text">
                  Cyprus has a lot to offer for business entrepreneurs who aim to reach for more and expand their
                  business goals. The attractive tax benefits and office locations have transformed Cyprus into a
                  country with endless business opportunities for everyone.
                </p>
                <button type="button" class="btn-reset btn-find">Check More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-slider__content" style="background-image: url(img/hero/slide-5.jpg)">
            <div class="container">
              <div class="hero-slider__info">
                <div class="hero-slider__box">
                  <ul class="hero-slider__list list-reset">
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">investments</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">business relocation</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">family relocation</a>
                    </li>
                  </ul>
                </div>
                <h2 class="hero__title hero__title--black heading-1">
                  Investing in Yachts
                </h2>
                <p class="hero-slider__text hero-slider__text--black">
                  Living on an island is an adventure that opens up a wide range of experiences and possibilities. Here,
                  you can conquer the Mediterranean Sea by renting or owning
                  a yacht as part of your investment plan.
                </p>
                <button type="button" class="btn-reset btn-find">Check more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero-slider__content" style="background-image:  url(img/hero/slide-6.jpg)">
            <div class="container">
              <div class="hero-slider__info">
                <div class="hero-slider__box">
                  <ul class="hero-slider__list list-reset">
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">investments</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">business relocation</a>
                    </li>
                    <li class="hero-slider__item">
                      <a href="#!" class="hero-slider__link">family relocation</a>
                    </li>
                  </ul>
                </div>
                <h2 class="hero__title heading-1">
                  Moving to Cyprus
                </h2>
                <p class="hero-slider__text">
                  Thousands of individuals and families from every part of the globe have immigrated to Cyprus after
                  discovering their perfect place
                  to call home. The island is now one of the most dominant destinations with huge expat communities.
                </p>
                <button type="button" class="btn-reset btn-find">Check More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination hero-slider__pagination"></div>
    </div>
  </div>
</section>
