<section class="how">

  <div class="container">
    <h2 class="how__title heading-1">How we make it happen</h2>
    <div class="how__content">
      <ul class="how__list list-reset">
        <li class="how__item">
          <div class="how__image how__image--1">
            <img src="img/how/how-1.png" alt="how icon" class="how__img">
          </div>
          <h3 class="how__item-title heading-3">We listen</h3>
          <p class="how__text">
            Our most prominent purpose is to understand and identify with your needs so we can effectively find ways to
            provide solutions.
          </p>
        </li>
        <li class="how__item">
          <div class="how__image how__image--2">
            <img src="img/how/how-2.png" alt="how icon" class="how__img">
          </div>
          <h3 class="how__item-title heading-3">We strategize</h3>
          <p class="how__text">
            According to your requirements, our team designs a thorough series of steps that will make the relocation
            process as smooth
            as possible.
          </p>
        </li>
        <li class="how__item">
          <div class="how__image how__image--3">
            <img src="img/how/how-3.png" alt="how icon" class="how__img">
          </div>
          <h3 class="how__item-title heading-3">We provide</h3>
          <p class="how__text">
            We implement our services that are based on efficient strategic planning that respond to your family’s and
            business’s goals and ambitions.
          </p>
        </li>
        <li class="how__item">
          <div class="how__image how__image--4">
            <img src="img/how/how-4.png" alt="how icon" class="how__img">
          </div>
          <h3 class="how__item-title heading-3">We manage</h3>
          <p class="how__text">
            Once you are settled, we make sure that everything is according to your expectations and your vision of the
            quality of our services.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
