<section class="migration">

  <div class="container">
    <div class="migration__content">
      <div class="migration__box">
        <div class="migration__info">
          <h3 class="migration__title heading-2">Permanent Residency in Cyprus Benefits
          </h3>
          <p class="migration__text">
            The decision to relocate your business or move with your family to Cyprus comes with the decision to enhance
            your quality of life. As Cyprus is among the most beloved travel destinations for millions of tourists every
            year, an increasing number of individuals and families have decided to turn the Mediterranean island into
            their permanent home. With over 17% of its population being international migrants, Cyprus has numerous
            expat communities all around the island.
          </p>
          <p class="migration__text">
            Becoming a permanent resident in Cyprus offers you the opportunity to enjoy a multitude of benefits, helping
            your business thrive and making your family feel welcome and safe.
          </p>
          <p class="migration__text">
            It’s important to know that Cyprus Permanent Residency can be obtained by purchasing property or living in
            Cyprus for a continuous period of five years or more. Some of the most important benefits of becoming a
            permanent resident in Cyprus are the following:
          </p>
          <ul class="migration__list list-reset">
            <li class="migration__list-item">
              <p class="migration__list-text">Obtaining EU residency in a safe and secure jurisdiction
              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Easy access to Europe due to great geographical location
              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Exceptional education standards for your children
              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Outstanding medical facilities and high quality healthcare
              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">No inheritance tax
              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Opportunity to have obtain an EU passport
              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Enjoying a high quality of life
              </p>
            </li>
          </ul>
          <p class="migration__text">
            Once you experience life on the island, you will have gained a new perspective on life. The blue-flagged
            clear beaches and the sunny weather all year long, will become your own personal oasis where you can boost
            your business opportunities and enjoy a relaxed lifestyle with your family.
          </p>
        </div>
        <div class="migration__image">
          <img src="img/migration/migration-1.jpg" alt="migration" class="migration__img" />
        </div>

      </div>
      <div class="migration__box">
        <div class="migration__image">
          <img src="img/migration/migration-2.jpg" alt="migration" class="migration__img" />
        </div>
        <div class="migration__info">
          <h3 class="migration__title heading-2">Why to Invest in Cyprus
          </h3>
          <p class="migration__text">
            PAM Consulting services include assistance and consulting when it comes to your investing plans in Cyprus.
            We will prioritize your needs and expectations by offering you a variety of investment options for you to
            choose from. In an accelerating pace, Cyprus has grown into one of the dominant investment-friendly
            countries in the EU. It is evident that due to the government’s efforts to welcome more immigrants to
            Cyprus, the investment opportunities are vast and customizable for individuals.
          </p>
          <p class="migration__text">
            The main reasons why more and more people are investing in Cyprus are:
          </p>

          <ul class="migration__list list-reset">
            <li class="migration__list-item">
              <p class="migration__list-text">Cyprus has the lowest corporate tax rate in Europe at 12.5%

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">No capital gains tax or inheritance tax

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Tax exemptions on worldwide dividends as well as interest income

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">No Immovable Property Tax

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Corporate tax relief up to 75% for holdings

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Competitive VAT rates ranging from 0- 19%

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">Low national healthcare tax contribution of 2.65-4.7%

              </p>
            </li>
          </ul>
          <p class="migration__text">
            Whether you’re aiming to increase your financial possibilities or increase your business outlook, Cyprus is
            an ideal place to start. With the ability to choose from endless investment plans, you can be one step
            closer to manifesting your goals.
          </p>
        </div>
      </div>
      <div class="migration__box">
        <div class="migration__info">
          <h3 class="migration__title heading-2">Important Information to Know Before Immigrating to Cyprus

          </h3>
          <p class="migration__text">
            As you are planning to achieve a fresh start in Cyprus, we would like to provide you with some basic
            information about the island and what to expect when you arrive.
          </p>

          <ul class="migration__list list-reset">
            <li class="migration__list-item">
              <p class="migration__list-text">
                <span>Capital City:</span> Nicosia is the largest city of the island which has over 200000 residents,
                meaning about
                16.6% of the
                country’s population.
              </p>
            </li>
            <li class="migration__list-item">
              <p<span>Currency:</span>igration__list-text">
                Currency: The currency of Cyprus is the Euro.

                </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">
                <span>Population:</span> Cyprus’s current population is <span>1.207 million.</span>

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">
                <span>Official Languages:</span> The official languages of the island are <span>Greek and
                  <span>English</span>
                  Turkish
                </span>, and English
                is widely
                spoken by locals.

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">
                <span>Cost of Living:</span> Compared to other European countries, the cost of living is relatively low
                in Cyprus.

              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">
                <span>Job Market:</span> As a member of the <span>EU since 2004</span>, the business-friendly
                environment provides
                access to a
                <span>markets</span>nge of
                markets, with some of the most prominent being in the <span>financial sector, IT and technology
                  services</span>, and <span>tourism.</span>
              </p>
            </li>
            <li class="migration__list-item">
              <p class="migration__list-text">
                <span>Education:</span> Public and Private Education in Cyprus meets outstanding quality standards.
              </p>
            </li>
          </ul>
          <p class="migration__text">
            Getting to know the ins and outs of the island is easy and exciting. Our team at PAM Consulting is also here
            to assist you with any additional information you may require.
          </p>
        </div>
        <div class="migration__image">
          <img src="img/migration/migration-3.jpg" alt="migration" class="migration__img" />
        </div>
      </div>
    </div>
  </div>
</section>
