<section class="migration-help">

  <div class="container">
    <h2 class="migration-help__title heading-1">How We Can Help</h2>
    <div class="migration-help__content">
      <div class="migration-help__info">
        <p class="migration-help__descr">
          Leaving your home country to settle in another is always accompanied by complex immigration processes such as
          registration, finding housing, signing documents, opening a bank account, finding schooling for your children,
          and much more. This process can make anyone feel stressed and uncertain about the next move. For this reason,
          our all-encompassing services make sure to make the relocation process as smooth as possible by handling
          everything that has to do with relocating your family and your business to Cyprus.
        </p>
        <ul class="migration-help__list list-reset">
          <li class="migration-help__item">
            <a href="#!" class="migration-help__link">Business Relocation
            </a>
          </li>
          <li class="migration-help__item">
            <a href="#!" class="migration-help__link">Family Relocation
            </a>
          </li>
          <li class="migration-help__item">
            <a href="#!" class="migration-help__link">Investment Plans</a>
          </li>
        </ul>
      </div>
      <p class="migration-help__text">We want you to feel confident in your decision to relocate to Cyprus, as we take
        care of the
        challenging parts of moving. Moving to Cyprus is in itself an investment in your future.
      </p>
    </div>
  </div>
</section>
