<section class="moving">
  <img src="img/moving/left.jpg" alt="" class="moving__left" />
  <div class="container">
    <div class="moving__content">
      <h2 class="moving__title heading-1">Moving to Paradise</h2>
      <p class="moving__text">
        Have you ever dreamed about the perfect place to live? Your definition of perfect may be different someone
        else’s. Are you longing to live by the beach and listen to the soothing waves or are you a kind of person who
        enjoys the bustling sounds of the city? Whatever lifestyle you desire, Cyprus has it all! Whether you’re
        travelling with your family, your partner, or as a solo business entrepreneur, this exotic island can offer you
        a little bit of everything.
      </p>
      <p class="moving__text">If you’ve made the decision to relocate to Cyprus, then you are expecting to find a safe
        place to settle. With extremely low crime rate, stunning sandy beaches, and awe-inspiring mountain views, Cyprus
        is the place to be!</p>
      <a href="#!" class="moving__btn btn-find">Find out more</a>
    </div>
  </div>
  <img src="img/moving/right.jpg" alt="" class="moving__right" />
</section>
