<section class="partners">

  <div class="container">
    <h2 class="partners__title heading-1">Our Partners</h2>
    <ul class="partners__content list-reset">
      <li class="partners__item">
        <a href="#!" class="partners__link">
          <img src="img/partners/partner-1.png" alt="partner 1" class="partners__img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#!" class="partners__link">
          <img src="img/partners/partner-2.png" alt="partner 1" class="partners__img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#!" class="partners__link">
          <img src="img/partners/partner-3.png" alt="partner 1" class="partners__img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#!" class="partners__link">
          <img src="img/partners/partner-4.png" alt="partner 1" class="partners__img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#!" class="partners__link">
          <img src="img/partners/partner-5.png" alt="partner 1" class="partners__img">
        </a>
      </li>
      <li class="partners__item">
        <a href="#!" class="partners__link">
          <img src="img/partners/partner-6.png" alt="partner 1" class="partners__img">
        </a>
      </li>
    </ul>
  </div>
</section>
