<section class="services">

  <div class="container">
    <h2 class="services__title heading-1">Our Services</h2>
    <div class="services__content">
      <ul class="services__list list-reset">
        <li class="services__item">
          <img src="img/services/service-1.jpg" alt="service 1" class="services__img">
          <div class="services__info">
            <h3 class="services__item-title heading-2">Family<br />
              Relocation</h3>
            <p class="services__text">With strategic planning, we simplify the moving process so you and your family can
              feel safe and confident.</p>
          </div>
          <a href="#!" class="services__btn btn-find">Find out more</a>
        </li>
        <li class="services__item">
          <img src="img/services/service-2.jpg" alt="service 2" class="services__img">
          <div class="services__info">
            <h3 class="services__item-title heading-2">Business
              Relocation</h3>
            <p class="services__text">We handle the responsibility of moving your business to Cyprus, so you can focus
              on
              your business goals.</p>
          </div>
          <a href="#!" class="services__btn btn-find ">Find out more</a>
        </li>
        <li class="services__item">
          <img src="img/services/service-3.jpg" alt="service 3" class="services__img">
          <div class="services__info">
            <h3 class="services__item-title heading-2">Family<br />
              Relocation</h3>
            <p class="services__text">Discover the opportunity to further enhance your business ambitions, by choosing
              the
              optimal investment plan.</p>
          </div>
          <a href="#!" class="services__btn btn-find">Find out more</a>
        </li>
      </ul>
    </div>
  </div>
</section>
