<section class="values">

  <div class="container">
    <h2 class="values__title heading-1">Why We Do It – Our Values
    </h2>
    <div class="values__content">
      <ul class="values__list list-reset">
        <li class="values__item">
          <div class="values__image values__image--1">
            <img src="img/values/values-1.png" alt="values icon" class="values__img">
          </div>
          <h3 class="values__item-title heading-3">Time Efficiency </h3>
          <p class="values__text">
            As our team works efficiently and strategically, the whole relocation process is completed in a short amount
            of time so you can have more time to focus on setting up your life in Cyprus.
          </p>
        </li>
        <li class="values__item">
          <div class="values__image values__image--2">
            <img src="img/values/values-2.png" alt="values icon" class="values__img">
          </div>
          <h3 class="values__item-title heading-3">Gratifying Experience </h3>
          <p class="values__text">
            Moving can be intimidating and demanding experience for anyone. Our team makes sure to come up with the best
            relocation strategy, offering you a piece of mind and a sense of security.
          </p>
        </li>
        <li class="values__item">
          <div class="values__image values__image--3">
            <img src="img/values/values-3.png" alt="values icon" class="values__img">
          </div>
          <h3 class="values__item-title heading-3">Safety & Reliability </h3>
          <p class="values__text">
            Once you are settled, we make sure that everything is according to your expectations and your vision of the
            quality of our services.
          </p>
        </li>
        <li class="values__item">
          <div class="values__image values__image--4">
            <img src="img/values/values-4.png" alt="values icon" class="values__img">
          </div>
          <h3 class="values__item-title heading-3">Personalized Support</h3>
          <p class="values__text">
            Our services include providing you with any information you may need about living in Cyprus with your
            family.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
