<section class="who">

  <div class="container">
    <div class="who__content">
      <div class="who__info">
        <div class="who__title-box">
          <h2 class="who__title heading-1">Who We Are</h2>
        </div>
        <div class="who__descr">
          <p class="who__text">
            PAM Consulting is built upon a team of motivated professionals aiming to provide families and businesses the
            services they need to relocate to the island of Cyprus.
          </p>
          <p class="who__text">
            We understand the challenges of deciding to relocate and this is why we prioritize our clients’ needs by
            making sure that the whole relocation process is as smooth and simple
            as possible.
          </p>
        </div>
        <a href="#!" class="who__btn btn-get">More about us</a>
      </div>
      <div class="who__founder">
        <div class="who__card">
          <div class="who__image">
            <img src="img/founder.jpg" alt="founder" class="who__img">
          </div>
          <div class="who__card-info">
            <h3 class="who__card-title heading-3">FOUNDER</h3>
            <p class="who__card-text">Anastasia Papaharidemou</p>
            <a href="#!" class="who__card-link btn-get">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
